/* loader.css */
.loader-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.youtube-loader {
  width: 50px;
  height: 50px;
}

.loader-bg {
  fill: none;
  stroke: rgba(7, 7, 7, 0);
  stroke-width: 4;
}

.loader-fg {
  fill: none;
  stroke: #ff0000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 125;
  stroke-dashoffset: 125;
  transform-origin: center;
  animation: rotate 1s linear infinite, dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 125;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 80, 125;
    stroke-dashoffset: -40;
  }
  100% {
    stroke-dasharray: 1, 125;
    stroke-dashoffset: -125;
  }
}
